.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: contain;
  position: absolute;
  right: -210px;
  top: 0;
  margin: 0;
  z-index: 0;
}